@charset "utf-8";
/* CSS Document */

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

@font-face {  
  font-family: kruti dev ;  
  src: url( '../../fonts/KrutiDev010Regular.ttf' ) format("truetype");  
}  

.hinditext {
    font-family: kruti dev;  
    font-size:18px;
}
.hinditext option {font-size:18px;}
.box-title {
	text-transform:capitalize;}

.errors{color:red;}
.table-responsive a{
	margin:3px;
}
.avtar{width: 40px;
    height: 40px;
    border: 5px solid rgba(0, 0, 0, 0.06);
    border-radius: 50px;
    z-index: 1;
    top: 7px;
    position: absolute;}